.sly-common-missing-parts-comp-left {
  background-color: aliceblue;
  margin-right: 4px;
  overflow-y: auto;
  position: sticky;
  overflow-x: hidden;
  width: 128px;
}
@media screen and (min-width: 97.2931rem) {
  .sly-common-missing-parts-comp-left {
    width: 275px;
  }
}

.sly-common-missing-parts-comp-right {
  flex: 1;
  padding-left: 4px;
  background-color: aliceblue;
}

.sly-common-missing-parts-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: black;
  width: 100vw;
}

.sly-common-missing-parts-container {
  background-color: #f44336;
  padding-right: 16px;
  margin-right: 4px;
  flex: 1;
  display: flex;
  flex-direction: row;
}
