.sly-comp-left-shadow {
  display: none;
}
@media screen and (min-width: 41.57239rem) {
  .sly-comp-left-shadow {
    display: flex;
    flex-direction: row;
  }
}

.sly-comp-left-container {
  display: flex;
  flex-direction: row;
}
