.sly-link-button {
  color: indigo;
  background-color: rgba(89, 2, 151, 0);
  position: relative;
  display: inline-block;
  padding: .35rem;
  border: 1px solid transparent;
  outline: none;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1.5rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}
.sly-link-button:hover {
  border: 1px solid transparent;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  user-select: none;
  transition: background-color .1s ease-in-out;
}
.sly-link-button.push {
  margin: 0 8px 0 16px;
}

.sly-link-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sly-link-button-container:hover {
  background-color: rgba(72, 2, 121, 0.123);
  transition: background-color .1s ease-in-out;
}
