.sly-menu-item-container {
  display: flex;
  flex-direction: column;
  z-index: 5051;
  position: absolute;
  width: 160px;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #2196f3;
  border: 1px solid rgba(72, 2, 121, 0.123);
  border-radius: 6px;
  box-shadow: 0 1px 6px #607D8B;
  box-shadow: 0 1px 6px rgba(72, 2, 121, 0.123);
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 8px 4px 4px -123px;
}
@media screen and (min-width: 83.83037rem) {
  .sly-menu-item-container {
    margin: 8px 4px 4px -93px;
  }
}
.sly-menu-item-container::before, .sly-menu-item-container::after {
  position: absolute;
  content: "";
  border: 6px solid transparent;
}
.sly-menu-item-container::before {
  left: 85%;
  top: -12px;
  border-bottom-color: #2196f3;
  border-bottom-color: rgba(72, 2, 121, 0.123);
  z-index: 1;
}
@media screen and (min-width: 83.83037rem) {
  .sly-menu-item-container::before {
    left: 65%;
  }
}
.sly-menu-item-container::after {
  left: 85%;
  top: -11px;
  border-bottom-color: #fff;
  z-index: 2;
}
@media screen and (min-width: 83.83037rem) {
  .sly-menu-item-container::after {
    left: 65%;
  }
}
