html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e9ecef;
}

html, body {
  display: flex;
  min-height: 100%;
}

.App {
  display: flex;
  min-height: 100%;
  text-align: left;
}
.App .main {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}
