.sly-comp-left-shadow-sm {
  display: none;
}
@media screen and (min-width: 43.94083rem) {
  .sly-comp-left-shadow-sm {
    display: flex;
    flex-direction: row;
  }
}

.sly-comp-left-shadow-md {
  display: none;
}
@media screen and (min-width: 55.59606rem) {
  .sly-comp-left-shadow-md {
    display: flex;
    flex-direction: row;
  }
}

.sly-comp-left-container {
  display: flex;
  flex-direction: row;
}
